<div class="container mt-3">

    <form class="row g-6" [formGroup]="productFormGroup"  (ngSubmit)="saveProduct()">
        <h3><b>Add new product </b> </h3>
        <div class="col-auto">
    
          <input type="text" class="form-control" id="name" name="name" placeholder="Product Name" formControlName="name" >
        </div>
        <div class="col-auto">
    
          <input type="text" class="form-control" id="price" name="price" placeholder="Product Price" formControlName="price" >
        </div>
        <div class="col-auto">
    
          <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Product Quantity" formControlName="quantity" >
        </div>
        <div class="col-auto">
    
          <button type="submit" class="btn btn-primary mb-3"> <b><img src="https://img.icons8.com/fluency/512/add-property.png" width="20px" alt=""> Add Product</b></button>
        </div>
      </form>

    <table class="table" *ngIf="products">
        <thead>
            <tr class="bg-info text-white">
                <th>ID</th> <th>Name</th> <th>Price</th> <th>quantity</th> <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products._embedded.products">
<td>{{p.id}}</td>
<td>{{p.name}}</td>
<td>{{p.price}}</td>
<td>{{p.quantity}}</td>
<td>
  <button class="btn btn-outline-danger" type="submit" (click)="deleteProduct(p.id)"> Delete</button>
</td>

            </tr>
        </tbody>
    </table>
    
</div>