<div class="container mt-3">
    <table class="table" *ngIf="bills">
        <thead>
            <tr class="bg-info text-white">
                <th>ID</th> <th>Date</th> <th>CustomerID</th> <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let b of bills._embedded.bills">
<td>{{b.id}}</td>
<td>{{b.billingDate|date:'dd/MM/yyyy'}}</td>
<td>{{b.customerID}}</td>


<td>
    <button class="btn btn-warning" (click)="getBillDetails(b)">Bill Details</button>
</td>
            </tr>
        </tbody>
    </table>
    
</div>